.product-row{
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 8px;
}

.black{
    border: 1px solid hsl(160, 100%, 20%);
}

.red{
    border: 1px solid hsl(234, 100%, 45%);
}

.blue{
    border: 1px solid hsl(155, 100%, 51%);
}